extends layout/layout.pug

block content

    // begin firstscreen
    section#firstscreen.firstscreen.section.img_bg_wrap
        .firstscreen__img.img_bg
            img(src="../img/firstscreen.webp" alt="image" loading="lazy")
        .container_center
            .firstscreen__content
                h1.section__title.lg Обслуживание и ремонт септиков в Ивантеевка 
                .firstscreen__btn
                    a.btn.btn_success(href="#")
                        i.icon_phone
                        span Позвонить
                    a.btn.show_modal_js(href="#feedback") 
                        span Оставить заявку


    // end firstscreen

    // begin info
    section#info.info.section
        .container_center
            .info__content
                p Обращайтесь за профессиональным ремонтом и обслуживанием.<br> услуги наше компании и провести сервестное обслужевание техническое полное вашего септика. 

                p По итогам выполненных работ заказчик получает гарантию качества. Все операции мастера выполняют в соответствии с актуальными нормативными требованиями.

    // end info

    // begin service
    section#service.service.section
        .container_center
            h2.section__title Обслуживание и ремонт септиков различных моделий   
            .service__slider
                .swiper.service_swiper_js
                    .swiper-wrapper
                        each item in ['1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6',]

                            .swiper-slide
                                .service__item
                                    .service__title Топас
                                    .service__desc топал эко
                                    .service__img.img
                                        img(src="../img/service.webp" alt="image" loading="lazy")
                                    .service__btn
                                        a.btn.show_modal_js(href="#feedback")
                                            span Заказать

                    .swiper-scrollbar.service__scrollbar.desktop
                .swiper-arrows.service__arrows.desktop
                    i.icon_arrow_left
                    i.icon_arrow_right



    // end service

    // begin advantages
    section#advantages.advantages.section
        .container_center
            h2.section__title Наши преимушества
            .advantages__grid
                each item in [{img: '1', title: 'Мастера укомплектованы всем необходимым'}, {img: '2', title: 'Запчасти и расходники в наличии у мастера '}, {img: '3', title: 'Срочный выезд-выезжаем в течении 15 минут'}]
                    .advantages__item
                        .advantages__inner(style="background-image: url('../img/advantages_"+item.img+".webp')")
                            .advantages__title=item.title

    // end advantages

    // begin callback
    section#callback.callback.section
        .container_center
            .callback__wrap
                .callback__img(style="background-image: url('../img/callback.webp')")
                    .callback__question.img
                        img(src="../img/question.webp" alt="image" loading="lazy")
                .callback__content
                    .callback__title Не знаете марку септика? Позвоните и мы подскажем. Или отправьте фото в Ватсап.
                    .callback__btn
                        a.btn.btn_lg(href="#")
                            span Консультация Мастера

                        a.btn.btn_lg.btn_success(href="#")
                            i.icon_whatsapp
                            span Написать В Whatsapp

    // end callback

    // begin cost
    section#cost.cost.section
        .container_center
            h2.section__title Стоимость Обслуживания септиков в Ивантеевке
            .cost__slider
                .swiper.cost_swiper_js
                    .swiper-wrapper
                        each item in ['', '', '', '', ]
                            .swiper-slide
                                .cost__item
                                    .cost__title Топол-Эко
                                    .table
                                        .table__head
                                            .table__row
                                                .table__col 
                                                    span По количеству человек
                                                .table__col 
                                                    span Плановое ТО
                                                .table__col 
                                                    span Полное ТО
                                        .table__body
                                            each item in [ {col1: '2-3 чел', col2: '4500', col3: '6000'}, {col1: '4-5 чел', col2: '5000', col3: '7000'}, {col1: '6-8 чел', col2: '6000', col3: '7500'}, {col1: '9-10 чел', col2: '8000', col3: '10.500'}, {col1: '11-15 чел', col2: '10.000', col3: '14.000'},]

                                                .table__row 
                                                    .table__col 
                                                        span=item.col1
                                                    .table__col 
                                                        span=item.col2
                                                    .table__col 
                                                        span=item.col3
                                            .table__row.col_full
                                                .table__col 
                                                    span Более 15
                                                .table__col 
                                                    span По договорности
                                                .table__col


                .swiper-arrows.cost__arrows.desktop
                    i.icon_arrow_left
                    i.icon_arrow_right

            .cost__desc В стоимость планового и полного обслуживания стоимость выезда уже включена и все профифилактические работы.


    // end cost

    // begin warning
    section#warning.warning.section
        .container_center
            .warning__content
                i.icon_warning
                span ВАЖНО: Ремонт септика оплачивается отдельно

    // end warning

    // begin departure
    section#departure.departure.section
        .container_center
            .departure__wrap
                .departure__preview
                    .departure__title Срочный аварийный выезд

                    .departure__img.img
                        img(src="../img/departure.webp" alt="image" loading="lazy")
                        .departure__label
                            span выезжаем в течение 15 минут
                .departure__content
                    ul.departure__list
                        each item in ['Срочный ремонт, пайка и замена компрессора', 'Работаем в выходные дни и даже ночью.', 'Выполняем работу любой сложности, любые модели.', 'Имеем все необходимые комплектующие и инструменты. ', ]    
                            li.departure__item
                                i.icon_check
                                span=item
                    .departure__form
                        form.form
                            .form__row
                                // add class .invalid for input
                                input(type="text" placeholder="+ 7 (___) ____-__-___")
                            .form__row
                                button.btn.btn_lg.btn_success(type="submit") Отправить вопрос



    // end departure

    // begin price
    section#price.price.section
        .container_center
            h2.section__title Стоимость ремонта септиков в Ивантеевке
            .price__grid
                each item in ['Замена полавкового переключателя без выезда', 'Замена мембран в копрессоре', 'Замена влагостойки розетки', 'Замена полавкового переключателя без выезда', 'Замена мембран в копрессоре', 'Замена влагостойки розетки','Замена полавкового переключателя без выезда', 'Замена мембран в копрессоре', 'Замена влагостойки розетки', 'Замена полавкового переключателя без выезда', 'Замена мембран в копрессоре', 'Замена влагостойки розетки', 'Замена влагостойки розетки', ]

                    .price__item
                        .tableSm
                            .tableSm__head
                                .tableSm__row
                                    .tableSm__col 
                                        span=item

                            .tableSm__body
                                .tableSm__row 
                                    .tableSm__col 
                                        span Работа
                                    .tableSm__col 
                                        span Материалы
                                .tableSm__row 
                                    .tableSm__col 
                                        span 500 руб.
                                    .tableSm__col 
                                        span 1500 руб.


            .price__more
                a.btn.shov_more_js(href="#") 
                    span Показать больше

    // end price

    // begin gallery
    section#gallery.gallery.section
        .container_center
            h2.section__title Галерея работ 
            .gallery__list
                each item in ['', '', ]
                    .gallery__item
                        .gallery__title Обслуживание
                    .gallery__slider
                        .swiper.gallery_swiper_js
                            .swiper-wrapper
                                each item in [1,2,3,4]
                                    .swiper-slide
                                        .gallery__img.img
                                            img(src="../img/gallery_"+item+".webp" alt="image" loading="lazy")

                        .swiper-arrows.gallery__arrows.desktop
                            i.icon_arrow_left
                            i.icon_arrow_right



    // end gallery

    // begin recall
    section#recall.recall.section
        .recall__wrap
            .container_center
                h2.section__title Отзывы
                .recall__slider
                    .swiper.recall_swiper_js
                        .swiper-wrapper
                            each item in [1,2,3,4]
                                .swiper-slide
                                    .recall__img.img
                                        img(src="../img/recall.webp" alt="image" loading="lazy")

                    .swiper-arrows.recall__arrows.desktop
                        i.icon_arrow_left
                        i.icon_arrow_right

    // end recall

    // begin faq
    section#faq.faq.section
        .container_center
            h2.section__title Вопросы-Ответы
            .faq__content
                each item in ['', '', ]

                    .faq__col
                        each item in ['', '', '', ]
                            .collapse(data-collapse-wrapper="")
                                .collapse__title(data-collapse="") 
                                    span Мы не живём на даче зимой. Нужно ли включать станцию пока нас нет.
                                .collapse__body(data-collapse-body="")
                                    span Если дом закрывается на всю зиму, то нужно отключить электроэнергию, очистить ил, залить все камеры водой на один метр от дна. А при новом запуске станции подключить...   

                        .collapse(data-collapse-wrapper="")
                            .collapse__title(data-collapse="") 
                                span Как определить?
                            .collapse__body(data-collapse-body="")
                                span Если дом закрывается на всю зиму, то нужно отключить электроэнергию, очистить ил, залить все камеры водой на один метр от дна. А при новом запуске станции подключить...    Если дом закрывается на всю зиму, то нужно отключить электроэнергию, очистить ил, залить все камеры водой на один метр от дна. А при новом запуске станции подключить...                     


    // end faq

    // begin contacts
    section#contacts.contacts.section
        .contacts__wrap
            .container_center
                h2.section__title Контакты
                .contacts__list
                    .contacts__item
                        b Адрес
                        span Город Дмитров, Пушкинский  городской округ.

                    .contacts__item
                        b График работы
                        span Режим: 7:00-21:00

                    .contacts__item
                        b Телефон
                        a(href="tel:89000000000") 8900 000 0000

    // end contacts
